@import "src/scss/variables";

.filter {
  border-radius: 23px;
  padding: 13px 20px;
  background: $white;
  border: 2px solid rgba(0,0,0,.1);
  transition: border-color .15s;
  width: calc(100% - 40px);

  &::placeholder {
    color: #b3b3b3;
    font-size: $base-font-size;
  }

  &:focus {
    outline: 0;
    border-color: $border-color;
  }
}
