<div class="container">
  <ng-container *ngIf="stores.length > 0; else cityList">
    <div class="col-4 d-flex" *ngFor="let store of stores | filterStore: searchString">
      <div class="card">
        <h3>{{store.addressName}}</h3>
        <p class="m-0" *ngIf="store.city">City: {{store.city}}</p>
        <p class="m-0">Address: {{store.street}} {{store.street2}}</p>
        <p class="m-0">Opens: {{store.todayOpen}}</p>
        <p class="m-0">Closes: {{store.todayClose}}</p>
      </div>
    </div>
  </ng-container>

  <ng-template #cityList>
    <div class="col-4 d-flex" *ngFor="let city of cities | filterCities: searchString">
      <div class="card card-city">
        <h3>{{city.city}}</h3>
        <app-button (click)="showStores(city.city)" btnClass="btn-secondary" buttonText="View Stores"></app-button>
      </div>
    </div>
  </ng-template>
</div>



