<div class="container">
  <div class="col-12 d-flex">
    <app-button class="mr-1" (click)="showStores = true; showCities = false" [btnClass]="'btn-primary'" [buttonText]="'Show Stores'"></app-button>
    <app-button (click)="showCities = true; showStores = false" [btnClass]="'btn-primary'" [buttonText]="'Show Cities'"></app-button>
  </div>

  <div class="col-12" *ngIf="showStores || showCities">
    <h1 class="mb-1">{{showStores ? 'Jumbo Stores' : 'Cities with Jumbo stores'}}</h1>
    <input [placeholder]="showStores ? 'Filter stores' : 'Filter cities'" class="filter" type="text" [(ngModel)]="searchString" (input)="onInput($event)" />
  </div>

  <ng-container *ngIf="loading">
    <div class="col-12 d-flex justify-content-center mt-1">
      <span class="loader"></span>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading">
    <div class="col-12">
      <h3 class="text-danger">{{errorMessage}}</h3>
    </div>
    <app-card *ngIf="showStores" class="col-12" [searchString]="searchString" [stores]="storeList"></app-card>
    <app-card *ngIf="showCities" class="col-12" [searchString]="searchString" [cities]="cityList"></app-card>
  </ng-container>
</div>
